.hidden {
  display: none;
}
#mapWrapper {
  position: relative; /* makes child absolute dots position correctly */
  width: 500px;       /* same as your map */
  height: 500px;      /* same as your map */
}
.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  pointer-events: none; /* so clicks pass through the dot */
  z-index: 10;
}


#map {
  display: block;
}


.botUI{
  position:fixed;
  bottom: 10px;
  left: 10px;

}
.subtext{
  position: fixed;
  top: 10px;
  right: 10px;
}