.hidden {
  display: none;
}
#mapWrapper {
  position: fixed; 
  width: 500px;      
  height: 500px;      
}
.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  pointer-events: none; 
  z-index: 10;
}


#map {
  display: block;
}


.botUI{
  position:fixed;
  bottom: 10px;
  left: 10px;

}
.subtext{
  position: fixed;
  top: 10px;
  right: 10px;
}